:root {
  --main-color: #fff5de;
  --second-color: #c6a969;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
}

header,
footer {
  background-color: var(--second-color);
}

.border-main {
  padding: 10px;
  border: 10px solid var(--second-color);
  border-radius: 5px;
}

.border-result {
  padding: 10px;
  border: 6px solid var(--second-color);
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--second-color);
  border: none;
}

.accent {
  background-color: #f2e7c3;
}
